
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

:root{
    --main: #084C61;
    --comp: #FDC10D;
    --accent: #E8283F;
    --white: #FAF9F6;
    --black: #22201C;
    --blackOverlay:#22201c60;
    --neutLite: #E8E6DF;
    --neutMed: #C6C5C2;
    --neutDark: #8E8D8A;

    --szXL: 55px;
    --szL: 35px;
    --szM: 25px;
    --szS:15px;
    --szXS:10px;

    --width: 600px;
}

.font-m{font-size: 18px}
.font-s{font-size: 14px}
.font-l{font-size: 36px}

.color-black{color: var(--black)}
.color-white{color: var(--white)}
.color-accent{color:var(--accent)}

*{
    margin: 0;
    box-sizing: border-box;
    color: var(--white);
    font-family: 'Alata', sans-serif;;
    text-transform: uppercase;
}

.flex{display: flex;}
.column{flex-direction: column;}
.justify-center{justify-content: center;}
.align-center{align-items: center;}
.space-between{justify-content: space-between;}
.flex-end{justify-content: flex-end;}

/* // GENERAL COMPONENTS // */

button{
    padding: 5px 25px;
    height: 50px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition-property: color, background-color;
    transition-duration: 0.1s;
    width: auto;
}

button:hover{
    background-color: var(--black);
    color: var(--white);
}


.accent-button{
    background-color: var(--accent);
    color: var(--white);
}

.comp-button{
    background-color: var(--comp);
    color: var(--main);
}

.outline-button{
    border: 2px solid var(--main);
    color: var(--main);
}

/* // GENERAL LAYOUT // */

body{
    background-color: var(--main);
    padding: 5vh var(--szS) var(--szS) var(--szS);
    height: 100vh;

    width: 100%;
    max-width: var(--width);
    margin: auto;

}

/* gives spacing between main items  */
body > div > main > *:not(:last-child){
    margin-bottom: var(--szL);
}


#top-bar{
    position: relative;
    margin-bottom: var(--szXL);
}

#match-history{
    gap: var(--szL);
}

#grid{
    margin-top: var(--szXS);
    margin-bottom: var(--szXL);
}

.rounds-wrapper > *{
    flex-basis: 0;
    flex-grow: 1;
}

#grid{
    background-color: var(--white);
    gap: 5px;

    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    box-sizing: border-box;

}

#grid > div{
    background-color: var(--main);
    display: grid;
    place-content: center;
    padding: var(--szM);
}

.player{
    flex-grow: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.player .active{
    color: var(--comp);
}

/* // SETTINGS SCREEN SPECIFICS // */

#settings section > *:not(:last-child){
    margin-bottom: var(--szXS);
}

#switch{
    width: 100px;
    padding: 5px ;
    border-radius: 50px;
    border: 2px solid var(--white);

    position: relative;
    cursor: pointer;
}

#switch > div{
    position: relative;
    left: 0px;

    height: var(--szM);
    width: var(--szM);
    background-color: var(--white);
    border-radius: 50px;

    transition-property: left;
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
}

#switch .active{
    left: calc( 100% - var(--szM) );
}

#difficulties *{
    color: var(--neutDark) !important;
}

#difficulties .active{color: var(--comp);}


/* // RESET SCREEN SPECIFICS // */
.black-overlay{
    position: absolute;
    width: 100vw;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--blackOverlay);
    display: grid;
    place-content: center;
}

.overlay{
    position: absolute;
    width: 100vw;
    height: 100%;
    top: 0;
    left: 0;
    display: grid;
    place-content: center;
}

.card{
    max-width: var(--width);
    margin: auto;

    background-color: var(--white);
    border-radius: 5px;
    padding: var(--szXL) var(--szL);

    display: grid;
    gap: var(--szL);

}

.reset-text p:first-child{padding-bottom: var(--szXS);}
.reset-text p{color: var(--black);}